# Password for the gc2 Postgresql user
GC2_PASSWORD=12345

# Wanted timezone in database
TIMEZONE=CET

# Wanted locale in database
LOCALE=en_US.UTF-8

# NGINX proxy and Lets Encrypt vars
VIRTUAL_HOST=gc2.com
LETSENCRYPT_HOST=gc2.com
LETSENCRYPT_EMAIL=your@email.com
HTTPS_METHOD=noredirect